
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%; /* Máximo ancho del menú */
}

body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Barra de navegacion */
nav {
    background-color: #f6a700;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

nav a {
    flex: 1;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    transition: .2s ease-in-out all;
    font-weight: 500;
    text-decoration: none;
}

nav a:hover {
    background: #f0f0f0;
}

nav .indicador {
    width: 0;
    height: 7px;
    background: #113cfc;
    position: absolute;
    bottom: 0;
    transition: .3s ease-out all;
}

@media screen and (max-width: 800px) {
    nav a {
        font-size: 14px;
        padding: 5px;
    }
}

@media screen and (max-width: 450px) {
    nav a {
        font-size: 12px;
        padding: 5px;
    }
}

/* Espacio para los contenidos debajo de la barra de navegación */
.content .category_list{
    margin-top: 80px;
    z-index: 1;
    position: relative;
}

/* La etiqueta P*/
nav p {
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    flex: 1; /* Hacer que la etiqueta p ocupe todo el espacio disponible */
    display: flex; /* Usar flexbox para alinear contenido */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    text-transform: uppercase; /* Aplicar mayúsculas al texto */
    font-weight: 500; /* Peso de la fuente */
    text-decoration: none; /* Quitar subrayado del texto */
    background: #f6a700; /* Color de fondo */
    transition: .2s ease-in-out all; /* Transición */
    color: white; /* Cambiar el color del texto (en este caso, rojo) */
    font-weight: bold; /* Poner el texto en negrita */
}

/* Estilos para dispositivos de pantalla pequeña, como celulares */
@media only screen and (max-width: 767px) {
    /* Estilos específicos para pantallas pequeñas */
  }
  
  /* Estilos para dispositivos de pantalla mediana, como tabletas */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos específicos para pantallas medianas */
  }
  
  /* Estilos para dispositivos de pantalla grande, como computadoras de escritorio */
  @media only screen and (min-width: 1024px) {
    /* Estilos específicos para pantallas grandes */
  }


  /*Servicios*/
  
  
/* Estilos para la sección de servicios */
.services {
    padding: 2rem 0; /* Añade espacio de relleno arriba y abajo */
    text-align: center; /* Centra el texto dentro de .services */
}

/* Estilos generales para contenedores */
.tk-container {
    max-width: 960px; /* Ancho máximo del contenedor */
    width: calc(100% - 2rem); /* Calcula el ancho del contenedor con un margen de 1rem a cada lado */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}

/* Estilos para el subtítulo de la sección */
.section-subtitulo2 {
    text-align: center; /* Centra el texto */
    font-size: 3rem; /* Tamaño de fuente */
    display: block; /* Muestra como bloque */
    color: #c2aa78; /* Color del texto */
    font-weight: 500; /* Grosor de la fuente */
    margin-bottom: .5rem; /* Espacio inferior */
    font-size: 35px; /* Tamaño de fuente alternativo */
    font-family: Didot; /* Familia de fuente */
}

/* Estilos para el título principal de la sección */
.section-titulo-2 {
    font-size: 3rem; /* Tamaño de fuente */
    color: #c2aa78; /* Color del texto */
    text-align: center; /* Centra el texto */
    margin-bottom: 5rem; /* Espacio inferior */
    font-family: Didot; /* Familia de fuente */
}

/* Estilos para el contenedor de servicios */
.services_container {
    row-gap: 2.5rem; /* Espacio entre filas */
    column-gap: 1.5rem; /* Espacio entre columnas */
    display: grid; /* Usa una disposición de grilla */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Columnas de ancho variable, mínimo 220px, máximo 1fr */
    justify-content: center; /* Centra el contenido dentro de .services_container */
}

/* Estilos para el contenido de cada servicio */
.services_content {
    text-align: center; /* Centra el texto */
    margin-bottom: 1rem; /* Espacio inferior */
}

/* Estilos para las imágenes de los servicios */
.services_img {
    width: 64px; /* Ancho de la imagen */
    height: 64px; /* Altura de la imagen */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Muestra como bloque */
}

/* Estilos para los títulos de los servicios */
.services_title {
    font-size: 1rem; /* Tamaño de fuente */
    color: #393939; /* Color del texto */
    margin-bottom: .5rem; /* Espacio inferior */
    text-align: center; /* Centra el texto */
}


/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #f6a700;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.btn:hover {
    background-color: white; /* Nuevo color de fondo al hacer hover */
}

/* Estilos para la caja dentro de los servicios */
.services_box {
    padding: 1rem; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave como borde dinámico */
}


